#menue{

    background:#7caa33;
    color:white;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    
    
}
/*font-family: 'Arimo', sans-serif;

font-family: 'Noto Sans TC', sans-serif;*/
#taillelogo{
    max-width: 100%;
}
body{
    
    color:;
    font-family: 'Arimo', sans-serif;
}

#phrseaux{
    color: white;
    padding: 2em;
}
footer{


background-color: #7caa33;
}

#recettes{
text-align:center;  
padding-top: 6em;
padding-bottom: 1.5em;

};

.pfooter{
    font-size:2em ;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {

    color:white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
a{
color :#2e6117 ;

}
h4{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif; 
    color: #Fcac1a;
}

#papropo
{
    text-align: center;
}


.apropo-ph{
    margin:auto;
    width:40%; 
}
